{{!< layout}}

<script src="/js/botler-sidebar.js"></script>
<style type="text/css">
	body {
		background-color: white;
	}

	.sidebar {
		background-color: white;
	}
</style>

<div class="aui-group sidebar">
    <div class="text-center" id="botler-sidebar-empty">
        <img src="/img/botler.svg" />                
        <button class="aui-button aui-button-primary" id="botler-empty-add-new-service" resolved="" onclick="openNewBlockDialog()">
            <span class="aui-icon aui-icon-small aui-iconfont-add"></span> Add a service
        </button>
    </div>
</div>
