{{!< layout}}

<script src="/js/botler-sidebar.js"></script>

<div class="sidebar">    

    <div id="botler-services">
        {{#each roomServices}}
            <div id="service-{{this.id}}" class="botler-service-tile">
                <span style="cursor:pointer;" onclick="openEditServiceDialog({{this.id}})">
                    {{#if this.enable}}
                        <img class="botler-service-img" src="http://abotars.hipch.at/bot/botler-{{this.id}}-{{this.name}}" />
                    {{else}}
                        <img class="botler-service-img botler-dead" src="http://abotars.hipch.at/bot/botler-{{this.id}}-{{this.name}}" />
                    {{/if}}                    
                </span>
                <span class="botler-service-info">
                    <a href="#" onclick="openEditServiceDialog({{this.id}})">{{this.name}}</a>                    
                </span>                                       
                <span style="float:right;cursor: pointer;" id="botler-arrow-{{this.id}}" class="aui-icon aui-icon-small aui-iconfont-arrows-down" onclick="toggleExpand('{{this.id}}', this.id);"></span>                               
                <div class="botler-service-details" id="botler-details-{{this.id}}" hidden>
                    <table class="aui">   
                        <tbody>
                            <tr>
                                <td><b>Event</b></td>
                                <td>{{this.event}}</td>
                            </tr>
                            <tr>
                                <td><b>Pattern</b></td>
                                <td>{{this.pattern}}</td>
                            </tr>
                            <tr>
                                <td><b>Trigger Count</b></td>
                                <td>{{this.triggerCount}}</td>
                            </tr>
                            <tr>
                                <td><b>Owners</b></td>
                                <td>
                                    {{#each this.owners}}
                                        <a href="#" class="botler-service-usermention">{{this.mentionName}}</a>
                                    {{/each}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>            
        {{/each}}        
    </div>

    <div id="footer">
        <div id="botler-button-wrapper">
        <button class="aui-button aui-button-link" resolved="" onclick="openNewBlockDialog()">
            <span class="aui-icon aui-icon-small aui-iconfont-add">New Service</span> New Service
        </button>
    </div>
    </div>
</div>

<script type="text/javascript">
    function toggleExpand(id, arrowId) {        
        $('#botler-details-' + id).fadeToggle();
        var arrow = $('#' + arrowId);
        if (arrow.hasClass('aui-iconfont-arrows-down')) {
            arrow.removeClass('aui-iconfont-arrows-down');
            arrow.addClass('aui-iconfont-arrows-up');
        } else {
            arrow.removeClass('aui-iconfont-arrows-up');
            arrow.addClass('aui-iconfont-arrows-down');
        }
    }
</script>